.fundo-banner{
    width: 100vw;
    height: 100vh;
    background-image: url(/img/fundo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    display: block !important;
}

.fundo-botao{
    width: 80%;
    margin: 0 auto;
}

main .inscreva{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff     ;
    background-color: transparent;
    border: 2px solid #ff0000;
    border-radius: 10px;
    top: -90px;
    right: -105px;
}

main .inscreva:hover{
    background-color: #ff0000;
    transition:background-color 1s ;
}